.Maze_4 {
    display: grid;
    background-color: white;
    height: 130px;
    width: 260px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

.intersection{
    height: 20px;
    width: 20px;
    background: black;
}

.verticalWall{
    height: 40px;
    width: 20px;
    background: black;
}

.horizontalWall{
    height: 20px;
    width: 20px;
    background: black;
}
.walk{
    height: 20px;
    width: 20px;
    background: white;
}
.goal{
    height: 20px;
    width: 20px;
    background: greenyellow;
}

.player_up{
    
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    
}